@import url(https://fonts.googleapis.com/css?family=Aubrey);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

html {
    -webkit-font-smoothing: subpixel-antialiased;
}

.metro {
    background-image: url('../img/metro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body,
.title,
.subtitle {
    color: #fff;
}

.hero {
    background: rgba(0, 0, 0, 0.2);
    text-shadow: 0 4px 15px black;
}

.textholder{
    text-align: justify;
}

.title,
.subtitle {
    font-family: 'Aubrey', cursive;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*@todo: сделать шаблон для карточки*/

/*Подумать над анимацией*/

