@import url(https://fonts.googleapis.com/css?family=Aubrey);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);


html {
    -webkit-font-smoothing: subpixel-antialiased;
}

.welcome {
    background-image: url('../img/main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/*todo: сделать самому фотографии всех нужных мест*/
.hermitage {
    background-image: url('../img/hermitage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.boattrip {
    background-image: url('../img/boattrip.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.isaak {
    background-image: url('../img/isaak.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.peterhof {
    background-image: url('../img/peterhof.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


.metro {
    background-image: url('../img/metro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.swanlake {
    background-image: url('../img/swanlake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.moscow {
    background-image: url('../img/moscow.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}



body,
.title,
.subtitle,
.menu {
    color: white;
}

.hero {
    background: linear-gradient(rgba(0, 57, 166, 0.33), rgba(213, 43, 30, 0.33));
}

.textholder{
    text-align: justify;
}

.title,
.subtitle,
.menu {
    font-family: 'Aubrey', cursive;
}

body {
    font-family: 'Raleway', sans-serif;
}

.menu {
    position: fixed;
    bottom: 0px;
    z-index: 3;
    text-align: center;
    border: 0;
}

.footer {
    z-index: 100;
}

.menu ul {
    border-bottom: 0;
}