html
    body
        .section.welcome
            section.hero.is-fullheight
                .hero-content
                    .container
                        .columns.is-vcentered.is-desktop
                            .column.is-10.is-offset-1
                                h2.title.is-2
                                    | Welcome to Saint-Petersburg
                                h3.subtitle.is-4
                                    | It's cheap now
                                .content
                                    p
                                        | Saint-Petersburg is one of the most beautiful cities in Europe. It was build by Peter The Great at 27 May of 1703. It was capital of Russian Empire and still give you impression of big european capitals.
                                    p
                                        | In 2014 Russia faced crysis, which leads to fall of russian currency. It's not good for everyone, except tourists. Look at the prices here, it's really cheaper than Paris or Prague. And you probably haven't been here. Welcome!
                                    .has-text-centered
                                        p
                                            strong Aviable at:
                                        p
                                            strong English
                                            =" "
                                            a(href='index.html') Deutsch
                                        p
                                            strong Currency:
                                        p.moneys
                                            a.EUR EUR
                                            =" "
                                            a.USD USD
                                            =" "
                                            a.GBP GPB
                                            =" "
                                            a.CZK CZK
                                            =" "
                                            a.CHF CHF
                                            =" "
                                            a.PLN PLN
                                            =" "
                                            //a.RON RON
                                            //=" "
                                            //a.SEK SEK
                                            //=" "
                                            a.NOK NOK
                                            =" "
                                            a.DKK DKK
                .hero-foot
                    .container
                        p Scroll it down!
                        span.icon.is-medium.movedown
                            a
                                i.fa.fa-chevron-down
