.section.metro
    section.hero.is-fullheight
        .hero-head
            .container
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-body
            .hero-content
                .container
                    .columns.is-vcentered.is-desktop
                        .column.is-8
                            h2.title.is-2
                                | Metro ticket
                            h3.subtitle.is-4
                                | Palaces even underground!
                            .content
                                p
                                    | Saint-Petersburg metro was the Soviet project build as a bomb-shelter. Now you could enjoy a ride with thousands other people around you and see the stations, what looks exactcly like the palaces.
                                p
                                    strong Should visit:
                                    |  &quot;Avtovo&quot;.
                        .column
                            p.title  One ride:
                            p#smetro.title.is-1 35 RUB
        .hero-foot
            .container
                span.icon.is-medium.movedown
                    a
                        i.fa.fa-chevron-down
