.section.metro
    section.hero.is-fullheight
        .hero-head
            .container.is-hidden-mobile
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-body
            .hero-content
                .container
                    .columns.is-vcentered.is-desktop
                        .column.is-8
                            h2.title.is-2
                                | Metro ticket
                            h3.subtitle.is-4
                                | Impressive palaces underground!
                            .content
                                p
                                    | The metro in Leningrad was a Soviet project and was originally build also as a bomb-shelter. Today, you can enjoy a ride wall-to-wall to other people and see stations, which look exactly like the halls of famous palaces.
                                p
                                    strong You should visit:
                                    |  "Avtovo", "Ploshchad Vosstaniya".
                        .column
                            p.title  One ride:
                            p#smetro.title.is-1 35 RUB
        .hero-foot
            .container.is-hidden-mobile
                span.icon.is-medium.movedown
                    a
                        i.fa.fa-chevron-down
