.section.hermitage
    section.hero.is-fullheight
        .hero-head
            .container
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-body
            .hero-content
                .container
                    .columns.is-vcentered.is-desktop
                        .column.is-8
                            h2.title.is-2
                                | Hermitage
                            h3.subtitle.is-4
                                | The second after Louvre
                            .content
                                p
                                    | It was the biggest museum of the Russian Empire and one of the most famous museums of the Old World. The museum complex includes the Winter Palace, where Russian Emperors have lived.
                                p
                                    strong You should check out:
                                    |  The Military Gallery, "Madonna Littla" by Leonadro da Vinci, "Danaë" by Rembrandt, "The Dance" by Henri Matisse.
                                p
                                    strong Free for students (with a Student ID).
                        .column
                            p.title One full price ticket:
                            p#shermitage.title.is-1 600 RUB
        .hero-foot
            .container
                span.icon.is-medium.movedown
                    a
                        i.fa.fa-chevron-down
.section.taxi
    section.hero.is-fullheight
        .hero-head
            .container
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-body
            .hero-content
                .container
                    .columns.is-vcentered.is-desktop
                        .column.is-8
                            h2.title.is-2
                                | Taxi
                            h3.subtitle.is-4
                                | Cheaper than buying a car
                            .content
                                p
                                    | Taxis are usually quite expensive. The rest of the world forbid cheap Taxi-Apps to make taxi business more competitive and fair. Well, in Russia there are taxis that are even cheaper than Uber.
                                p
                                    strong You should use:
                                    =" "
                                    a(href='https://www.uber.com/cities/saint-petersburg') Uber
                                    | ,
                                    =" "
                                    a(href='http://spb.rutaxi.ru/en/index.html') Rutaxi
                                    | ,
                                    =" "
                                    a(href='http://taxovichkof.com/') Taxovichkof
                                    | .
                                p
                                    strong Advise:
                                    |  It is better to call a taxi via an App, than calling one simply from the street.
                        .column
                            p.title Average ride:
                            p#staxi.title.is-1 250 RUB
        .hero-foot
            .container
                span.icon.is-medium.movedown
                    a
                        i.fa.fa-chevron-down
.section.boattrip
    section.hero.is-fullheight
        .hero-head
            .container
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-body
            .hero-content
                .container
                    .columns.is-vcentered.is-desktop
                        .column.is-8
                            h2.title.is-2
                                | Take a boat trip
                            h3.subtitle.is-4
                                | That's what tourists do
                            .content
                                p
                                    | The water transport here isn't really a city transport like in Istanbul. But we are sure, that Peter The Great thought that the city would look the best, when looking at it sitting on a boat. You should check it out, agree or disagree with him.
                                p
                                    strong You should watch before:
                                    |  music video
                                    =" "
                                    a(href='https://www.youtube.com/watch?v=UEFKLBUtkJU') "White Night" by DDT
                                    | .
                                p
                                    strong Advise:
                                    |  Check the websites of boat trip companies for prices.
                        .column
                            p.title Average ride:
                            p#sboattrip.title.is-1 700 RUB
        .hero-foot
            .container
                span.icon.is-medium.movedown
                    a
                        i.fa.fa-chevron-down
.section.isaak
    section.hero.is-fullheight
        .hero-head
            .container
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-body
            .hero-content
                .container
                    .columns.is-vcentered.is-desktop
                        .column.is-8
                            h2.title.is-2
                                | Saint Isaak Cathedral
                            h3.subtitle.is-4
                                | The rooftop view
                            .content
                                p
                                    | The construction of this church took 40 years. During the Siege of Leningrad the church was damaged by Nazi bombs and you can still see traces from those on it. The view on the city from the top, is probably the most common rooftop picture of St. Petersburg on Instagram. From here you can see how big Saint-Petersburg actually is.
                                p
                                    strong Alternative rooftop view:
                                    |  Loft Project ETAGI, free until 12.
                        .column
                            p.title One ticket:
                            p#sisaak.title.is-1 150 RUB
        .hero-foot
            .container
                span.icon.is-medium.movedown
                    a
                        i.fa.fa-chevron-down
.section.swanlake
    section.hero.is-fullheight
        .hero-head
            .container
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-body
            .hero-content
                .container
                    .columns.is-vcentered.is-desktop
                        .column.is-8
                            h2.title.is-2
                                | Swan Lake
                            h3.subtitle.is-4
                                | During summer - almost every day
                            .content
                                p
                                    | Some versions of Tchaikovsky's masterpiece are playing almost every day during the summer in different theaters in the city. If you don't know much about ballet - just choose by location. The most good-looking theaters in the city are Mariinsky and Alexandrinsky.
                                p
                                    strong Advise:
                                    |  Buy the tickets online and in advance..
                        .column
                            p.title One ticket:
                            p#sswanlake.title.is-1 1000 RUB
        .hero-foot
            .container
                span.icon.is-medium.movedown
                    a
                        i.fa.fa-chevron-down
.section.peterhof
    section.hero.is-fullheight
        .hero-head
            .container
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-body
            .hero-content
                .container
                    .columns.is-vcentered.is-desktop
                        .column.is-8
                            h2.title.is-2
                                | Peterhof
                            h3.subtitle.is-4
                                | The baroque Disneyland
                            .content
                                p
                                    | A park with beautiful palaces, fountains and gardens, where you might feel like a king. This, you could compare with Versailles.
                                p
                                    strong Advise:
                                    |  It is better to visit Peterhof on weekdays than on the weekend. Don't forget to check the wheather forecast before though.
                        .column
                            p.title One ticket:
                            p#speterhof.title.is-1 700 RUB
        .hero-foot
            .container
                span.icon.is-medium.movedown
                    a
                        i.fa.fa-chevron-down
.section.moscow
    section.hero.is-fullheight
        .hero-head
            .container
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-body
            .hero-content
                .container
                    .columns.is-vcentered.is-desktop
                        .column.is-8
                            h2.title.is-2
                                | Moscow
                            h3.subtitle.is-4
                                | The worst city in Russia according to Petersburgians
                            .content
                                p
                                    | If you get tired of the beauty of Saint-Petersburg you could go to Moscow by train. Buy a "Platzcart" - sleep next to many different people and enjoy the smell of their socks.
                                    span.is-hidden-touch
                                        | Even though Peterburgians say they don't like Moscow, we think it's worth a visit, especially to get another impression of Russia
                                    | .
                                p
                                    strong Advise:
                                    |  Buy the train tickets beforehand.
                        .column
                            p.title Train ticket:
                            p#smoscow.title.is-1 1200 RUB
        .hero-foot.credits
            .container
                .content.is-hidden-touch
                    p
                        | © Made by
                        =" "
                        a(href='http://www.sergeypoliakov.com') Sergey Poliakov
                        |  (design, programming, idea) and Julia Kling (text). We do our best to keep the prices here up to date, but don't blame us if they change suddenly. For currency rates is responsible
                        =" "
                        a(href='http://fixer.io/') fixer.io
                        | . Be aware to not change money on the street, go to a bank, it's safer. If something doesn't work on this website, don't hesitate to contact us. Hosted on
                        =" "
                        a(href='https://github.com/polyakusha/saintp') GitHub
                        | .
                .content.is-hidden-desktop
                    p
                        | © Made by
                        =" "
                        a(href='http://www.sergeypoliakov.com') Sergey Poliakov
                        |  (design, programming, idea) and Julia Kling (text).
