html
    body
        .section.hermitage
            section.hero.is-fullheight
                .hero-head
                    .container
                        span.icon.is-medium.moveup
                            a
                                i.fa.fa-chevron-up
                .hero-body
                    .hero-content
                        .container
                            .columns.is-vcentered.is-desktop
                                .column.is-8
                                    h2.title.is-2
                                        | Hermitage
                                    h3.subtitle.is-4
                                        | Second after Louvre
                                    .content
                                        p
                                            | Biggest museum of Russian Empire and one of the greatest museum of Old World. Museum complex includes Winter Palace, where russian Emperrors has lived and it worth to visit only in that case.
                                        p
                                            strong Should check out:
                                            |  "Madonna Littla" by Leonadro da Vinci, Danae by Rembrandt, "The Dance" by Henri Matisse, The Military Gallery.
                                        p
                                            strong Free for students (with student ID).
                                .column
                                    p.title One internation ticket:
                                    p#shermitage.title.is-1 600 RUB
                .hero-foot
                    .container
                        span.icon.is-medium.movedown
                            a
                                i.fa.fa-chevron-down
        .section.taxi
            section.hero.is-fullheight
                .hero-head
                    .container
                        span.icon.is-medium.moveup
                            a
                                i.fa.fa-chevron-up
                .hero-body
                    .hero-content
                        .container
                            .columns.is-vcentered.is-desktop
                                .column.is-8
                                    h2.title.is-2
                                        | Taxi
                                    h3.subtitle.is-4
                                        | Cheaper than buy a car
                                    .content
                                        p
                                            | Taxi now is very expensive. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aliquid, amet dolores ea enim iusto laborum molestias odio quae, quaerat quo recusandae rem, repellendus veritatis vero voluptatem! Dolorum, odio?
                                        p
                                            strong Should use:
                                            |  Uber, Rutaxi, Taxovichkoff
                                        p
                                            strong Advise:
                                            |  better to call taxi than pick it from the street.
                                .column
                                    p.title Average ride:
                                    p#staxi.title.is-1 250 RUB
                .hero-foot
                    .container
                        span.icon.is-medium.movedown
                            a
                                i.fa.fa-chevron-down
        .section.boattrip
            section.hero.is-fullheight
                .hero-head
                    .container
                        span.icon.is-medium.moveup
                            a
                                i.fa.fa-chevron-up
                .hero-body
                    .hero-content
                        .container
                            .columns.is-vcentered.is-desktop
                                .column.is-8
                                    h2.title.is-2
                                        | Take a boat trip
                                    h3.subtitle.is-4
                                        | That's what the tourist do
                                    .content
                                        p
                                            | Water transport here isn't really city transport like in Istanbul. But probably Peter The Great thought that the city will look the best from the point of sea-view. You could check it out and agree or disagree with him. Check the sites of boat trips companies for prices.
                                        p
                                            strong Should watch before:
                                            |  music video
                                            a(href='https://www.youtube.com/watch?v=UEFKLBUtkJU') "White Night" by DDT
                                            | .
                                .column
                                    p.title Average ride:
                                    p#sboattrip.title.is-1 700 RUB
                .hero-foot
                    .container
                        span.icon.is-medium.movedown
                            a
                                i.fa.fa-chevron-down
        .section.isaak
            section.hero.is-fullheight
                .hero-head
                    .container
                        span.icon.is-medium.moveup
                            a
                                i.fa.fa-chevron-up
                .hero-body
                    .hero-content
                        .container
                            .columns.is-vcentered.is-desktop
                                .column.is-8
                                    h2.title.is-2
                                        | Saint Isaak Cathedral
                                    h3.subtitle.is-4
                                        | Common rooftop view
                                    .content
                                        p
                                            | Construction time for that church was 40 years. During Blockade time church was damaged by Nazi's bombs and you could still see traces on it. One of most common rooftop views to the city. From here you could check how big is Saint-Petersburg;
                                        p
                                            strong Best time to visit:
                                            |  sunset.
                                .column
                                    p.title One ticket:
                                    p#sisaak.title.is-1 150 RUB
                .hero-foot
                    .container
                        span.icon.is-medium.movedown
                            a
                                i.fa.fa-chevron-down
        .section.swanlake
            section.hero.is-fullheight
                .hero-head
                    .container
                        span.icon.is-medium.moveup
                            a
                                i.fa.fa-chevron-up
                .hero-body
                    .hero-content
                        .container
                            .columns.is-vcentered.is-desktop
                                .column.is-8
                                    h2.title.is-2
                                        | Swan Lake
                                    h3.subtitle.is-4
                                        | During summer - almost every day.
                                    .content
                                        p
                                            | Some of version of classic ballet is playing almost each day during the summer in theaters of the city. If you're not know much about ballet - choose the version from venue. Most good-looking theaters of the city is Mariinsky and Alexandriysky.
                                        p
                                            strong Advise:
                                            | buy tickets online and in advance..
                                .column
                                    p.title One ticket:
                                    p#sswanlake.title.is-1 1000 RUB
                .hero-foot
                    .container
                        span.icon.is-medium.movedown
                            a
                                i.fa.fa-chevron-down
        .section.peterhof
            section.hero.is-fullheight
                .hero-head
                    .container
                        span.icon.is-medium.moveup
                            a
                                i.fa.fa-chevron-up
                .hero-body
                    .hero-content
                        .container
                            .columns.is-vcentered.is-desktop
                                .column.is-8
                                    h2.title.is-2
                                        | Peterhof
                                    h3.subtitle.is-4
                                        | Baroque Disneyland
                                    .content
                                        p
                                            | Park with beautiful palaces, fountains and gardens, where you feel yourself like king. You could compare it with Versailles.
                                        p
                                            strong Advise:
                                            |  weekday is better to visit than weekend. Check the forecast..
                                .column
                                    p.title One ticket:
                                    p#speterhof.title.is-1 700 RUB
                .hero-foot
                    .container
                        span.icon.is-medium.movedown
                            a
                                i.fa.fa-chevron-down
        .section.moscow
            section.hero.is-fullheight
                .hero-head
                    .container
                        span.icon.is-medium.moveup
                            a
                                i.fa.fa-chevron-up
                .hero-body
                    .hero-content
                        .container
                            .columns.is-vcentered.is-desktop
                                .column.is-8
                                    h2.title.is-2
                                        | Moscow
                                    h3.subtitle.is-4
                                        | Unfavorite city according to Petersburgians
                                    .content
                                        p
                                            | If you tired of the beauty of Saint-Petersburg you could go to Moscow with the train. Use "platzcart" - it's the wagon with many people sleeping with you in the same truck. Mocsow isn't worth to visit, but anyway.
                                        p
                                            strong Advise:
                                            |  buy tickets back to SPb as sooner as you could..
                                .column
                                    p.title Train ticket:
                                    p#smoscow.title.is-1 1200 RUB
                .hero-foot.credits
                    .container
                        .content
                            p
                                | © Made by Sergey Poliakov (design, programming, idea) and Julia Kling (text, translations). We do our best to keep prices here up to date, but don't blame us if they changed. For currency rates responsive
                                =" "
                                a(href='http://fixer.io/') fixer.io
                                | . Don't change money on the street, go to bank. Credit cards is acceptable almost everywhere in Saint-Petersburg, but better to have russian roubles with you. If something here get broken, don't hesitate to contact us.
