.section.welcome
            section.hero.is-fullheight
                .hero-content
                    .container
                        .columns.is-vcentered
                            .column.is-10.is-offset-1
                                h2.title.is-2
                                    | Welcome to Saint-Petersburg
                                h3.subtitle.is-4
                                    | 'Cause it's cheap now
                                .content
                                    p
                                        | Saint-Petersburg is one of the most beautiful cities in Europe. It was founded by Peter The Great on the 27th of May in 1703. It was the capital of the Russian Empire and it is today ranked as the
                                        =" "
                                        a(href='http://www.citymayors.com/features/euro_cities1.html') 4th largest city in Europe
                                        | .
                                    p
                                        | In 2014 Russia faced a big crisis, which led to the fall of the Russian Rouble. It wasn't good for citizens, but for tourists. Look at the prices, it's cheaper than Paris or Prague. And, you probably haven't been here yet. Well, welcome!
                                    .has-text-centered
                                        p
                                            strong Currency:
                                        p.moneys
                                            a.rates.EUR EUR
                                            =" "
                                            a.rates.USD USD
                                            =" "
                                            a.rates.GBP GPB
                                            =" "
                                            a.rates.CHF CHF
                                            =" "
                                            a.rates.CZK CZK
                                            =" "
                                            a.rates.PLN PLN
                                            =" "
                                            a.rates.RON RON
                                            =" "
                                            a.rates.SEK SEK
                                            =" "
                                            a.rates.NOK NOK
                                            =" "
                                            a.rates.DKK DKK
                                        span.icon.is-medium.movedown.is-hidden-tablet
                                            a
                                                i.fa.fa-chevron-down
                .hero-foot
                    .container.is-hidden-mobile
                        p Scroll down!
                        span.icon.is-medium.movedown
                            a
                                i.fa.fa-chevron-down
