head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(target='_blank')
    link(rel='stylesheet', href='styles/main.css')
    link(rel='icon', type='image/png', href='img/spb.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    block title
    block script
    script(type='text/javascript', src='js/main.js')