.mainMenu
    nav.nav
        .nav-left.is-hidden-mobile
            a.nav-item(href='#1', target='_self')
                | www.saintp.info
        .nav-center
            a.nav-item(href='transport.html', target='_self')
                span.icon
                    i.fa.fa-subway
                p.is-hidden-mobile Transport
            a.nav-item(href='sightseeing.html', target='_self')
                span.icon
                    i.fa.fa-binoculars
                p.is-hidden-mobile &nbspSightseeing
            a.nav-item(href='thingstodo.html', target='_self')
                span.icon
                    i.fa.fa-list-ol
                p.is-hidden-mobile &nbspThings to do
            a.nav-item(href='credits.html', target='_self')
                span.icon
                    i.fa.fa-info-circle
                p.is-hidden-mobile &nbspCredits

