extends firstsection
block title
    | Sightseeing
block subtitle
    | Catch em all
block content
    p
        | If you want to see everything in Saint-Petersburg - you shall stay longer. Maybe even a month and still you won’t check all of the hidden treasures of the city. Build as Imperial Capital it is still living with that times somewhere.
    p
        | For the best sightseeing in Saint-Petersburg be ready to walk a lot, don’t forget umbrella and never trust weather broadcast. Better to read and watch about city before coming, but anyway you’ll still miss something and finally decide to come back.
