extends firstsection
block title
    | Things to do
block subtitle
    | What to do in Saint-Petersburg
block content
    p
        | Saint-Petersburg is not only old and northen capital of Russia, but also cultural one. It means that is lot of things happening in the city and you should do it.
    p
        | Don't really have an idea what to write about here
