extends firstsection
block title
    | Things to do
block subtitle
    | How not to be bored in Saint-Petersburg
block content
    p
        | It&nbsp;is&nbsp;hard to&nbsp;get bored in&nbsp;Saint Petersburg even if&nbsp;you don’t&nbsp;speak Russian. It&nbsp;is&nbsp;a&nbsp;big city in&nbsp;which different people find different things to&nbsp;do. The only reason for getting bored would be&nbsp;depression, which you could get because of&nbsp;the weather and when reading too much Dostoevsky. Even if&nbsp;depression hits you, don’t&nbsp;worry the city’s&nbsp;nightlife will bring you back to&nbsp;life.

