extends head
block title
    title Welcome to Saint-Petersburg - 'cause it's cheap now - Things to do
block script
    script.
        var saint = {
            thingstodo: 0,
            pyshka: 13,
            swanlake: 1000,
            zenith: 30000,
            mdt: 10000,
            roofs: 45000
        };
