extends firstsection
block title
    | Transport in Saint-Petersburg
block subtitle
    | You can afford the limo if you want
block content
    p
        | Saint-Petersburg is very big. There is two islands in the city, each of them could compare by size of average European city. Like all the citizens of big urban areas, Saint-Petersburgers could spend a hour or more in the transport on their way to work or simple to center.
    p
        | There is: 5 metro lines, around 38 tram routes, 41 trolley route, more than 300 bus routes and more than 350 routes for "marshrutkas". Metro system is one of the busiest in the world.
