extends head
block title
    title Welcome to Saint-Petersburg - 'cause it's cheap now - Transport
block script
    script.
        var saint = {
            transport: 0,
            metro: 35,
            taxi: 250,
            marshrutka: 40,
            boattrip: 700,
            moscow: 1200
        };
