extends firstsection
block title
    | Transport in Saint-Petersburg
block subtitle
    | You can afford a limo if you want
block content
    p
        | <nobr>Saint-Petersburg</nobr> is&nbsp;very big. There are two islands in&nbsp;the city, each of&nbsp;them can be&nbsp;compared to&nbsp;an&nbsp;average European city by&nbsp;size. Like all the citizens of&nbsp;big urban areas, <nobr>Saint-Petersburgers</nobr> usually spend an&nbsp;hour or&nbsp;more in&nbsp;the transport on&nbsp;their way to&nbsp;work or&nbsp;simply to&nbsp;the city centre.
    p
        | There are: 5 metro lines, around 38 tram routes, 41 trolley route, more than 300 bus routes and more than 350 routes for &laquo;Marshrutkas&raquo;. The metro system is&nbsp;one of&nbsp;the busiest in&nbsp;the world.
