.section.welcome
    section.hero.is-fullheight
        .hero-content
            .container
                .columns.is-vcentered.is-desktop
                    .column.is-10.is-offset-1
                        h2.title.is-2
                            | Willkommen in Sankt Petersburg
                        h3.subtitle.is-4
                            | Heutezutage ist es billig
                        .content
                            p
                                | Sankt Petersburg wurde am 27. Mai 1703 von Peter dem Großen nahe dem Meer gegründet und ist heute eine der schönsten Städte in Europa. Es war die Hauptstadt des Russischen Kaiserreiches und ist heute
                                =" "
                                a(href='http://www.citymayors.com/features/euro_cities1.html') mit rund 5 Millionen Einwohnern die viertgrößte Stadt Europas.
                                | .
                            p
                                | 2014 kam es zu einer Krise in Land, wodurch der Russische Rubel stark an Wert verloren hat. Nicht so gut für die russische Bevölkerung, gut aber für unsere Touristen. Schaut euch die Preise selbst an, wir sind billiger als Paris oder Prag. Außerdem ward ihr wahrscheinlich auch noch gar nicht zu Besuch. Willkommen!
                            .has-text-centered
                                p
                                    strong Currency:
                                p.moneys
                                    a.rates.EUR EUR
                                    =" "
                                    a.rates.USD USD
                                    =" "
                                    a.rates.GBP GPB
                                    =" "
                                    a.rates.CHF CHF
                                    =" "
                                    a.rates.CZK CZK
                                    =" "
                                    a.rates.PLN PLN
                                    =" "
                                    a.rates.RON RON
                                    =" "
                                    a.rates.SEK SEK
                                    =" "
                                    a.rates.NOK NOK
                                    =" "
                                    a.rates.DKK DKK
                                span.icon.is-medium.movedown.is-hidden-tablet
                                    a
                                        i.fa.fa-chevron-down
        .hero-foot
            .container.is-hidden-mobile
                p Bitte runterscrollen!
                span.icon.is-medium.movedown
                    a
                        i.fa.fa-chevron-down