.section.welcome
    section.hero.is-fullheight
        .hero-content
            .container
                .columns.is-vcentered.is-desktop
                    .column.is-10.is-offset-1
                        h2.title.is-2
                            | Willkommen in&nbsp;Sankt Petersburg
                        h3.subtitle.is-4
                            | Heutezutage ist es&nbsp;billig
                        .content
                            p
                                | Sankt Petersburg wurde am&nbsp;27. Mai 1703 von Peter dem Gro&#223;en&nbsp;nahe dem Meer gegr&#252;ndet und ist heute eine der sch&#246;nsten St&#228;dte in&nbsp;Europa. Es&nbsp;war die Hauptstadt des Russischen Kaiserreiches und ist heute
                                =" "
                                a(href='http://www.citymayors.com/features/euro_cities1.html') mit rund 5 Millionen Einwohnern die viertgr&#246;&#223;te&nbsp;Stadt Europas.
                                | .
                            p
                                | 2014 kam es&nbsp;zu&nbsp;einer Krise im&nbsp;Land, wodurch der Russische Rubel stark an&nbsp;Wert verloren hat. Nicht so&nbsp;gut f&#252;r&nbsp;die russische Bev&#246;lkerung, gut aber f&#252;r&nbsp;unsere Touristen. Schaut euch die Preise selbst an, wir sind billiger als Paris oder Prag. Au&#223;erdem ward ihr wahrscheinlich auch noch gar nicht zu&nbsp;Besuch. Willkommen!
                            .has-text-centered
                                p
                                    strong Sprache:
                                p
                                    a(href='index.html', hreflang='en', target='_self') English
                                        =" "
                                    a.langnow Deutsch
                                p
                                    strong Currency:
                                p.moneys
                                    a.rates.EUR EUR
                                    =" "
                                    a.rates.USD USD
                                    =" "
                                    a.rates.GBP GPB
                                    =" "
                                    a.rates.CHF CHF
                                    =" "
                                    a.rates.CZK CZK
                                    =" "
                                    a.rates.PLN PLN
                                    =" "
                                    a.rates.RON RON
                                    =" "
                                    a.rates.SEK SEK
                                    =" "
                                    a.rates.NOK NOK
                                    =" "
                                    a.rates.DKK DKK
                                span.icon.is-medium.movedown.is-hidden-tablet
                                    a
                                        i.fa.fa-chevron-down
        .hero-foot
            .container.is-hidden-mobile
                p Bitte runterscrollen!
                span.icon.is-medium.movedown
                    a
                        i.fa.fa-chevron-down