.section.moscow
    section.hero.is-fullheight
        .hero-head
            .container.is-hidden-mobile
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-body
            .hero-content
                .container
                    .columns.is-vcentered.is-desktop
                        .column.is-8
                            h2.title.is-2
                                | Moskau
                            h3.subtitle.is-4
                                | Langweiligste Stadt in Russland sagt der Sankt Petersburger
                            .content
                                p
                                    | Solltest du genug haben von der Schönheit des russischen Venedigs, laden wir dich ein mit dem Zug nach Moskau zu fahren. Kaufe dir eine "Platzkarte" - schlafe neben den unterschiedlichsten Leuten, koste selbstgebackene russische Piroschki, höre dir melancholische Disskusionen an auf Russisch und geniesse Schweißfüße bei Nacht.
                                    =" "
                                    span.is-hidden-touch
                                        | Hört man auf St. Petersburger, so ist Moskau keinen Besuch wert, wir denken aber anders. Moskau ist definitiv einen Besuch wert, besonders um auch ein etwas anderes Russland kennenzulernen. Moskau überzeugt eher durch einen sovietischen Charme, wohingegen Sankt Petersburg eher das Russische Zarenreich wiedergibt.
                                    | .
                                p
                                    strong Hinweis:
                                    |  Kaufe dir die Zugtickets im Vorraus, ist billiger.
                        .column
                            p.title Ein Zugticket:
                            p#smoscow.title.is-1 1200 RUB
        .hero-foot.credits
            .container
                .content.is-hidden-touch
                    p
                        | © Made by
                        =" "
                        a(href='http://www.sergeypoliakov.com') Sergey Poliakov
                        |  (Design, Programming, Idee) und Julia Kling (Text). Wir geben unser Bestes die Preise auf dem aktuellen Stand zu halten, aber seid bitte nicht böse, sollten wir es mal nicht schaffen. Für den Umrechnungskurs ist verantwortlich:
                        =" "
                        a(href='http://fixer.io/') fixer.io
                        | . Gebt euch in Acht und tauscht bitte kein Geld auf der Straße um, Banken sind immer sicherer. Sollte irgendetwas nicht funktionieren auf dieser Webseite, kontaktiert uns bitte. Hosted on
                        =" "
                        a(href='https://github.com/polyakusha/saintp') GitHub
                        | .
                .content.is-hidden-desktop
                    p
                        | © Made by
                        =" "
                        a(href='http://www.sergeypoliakov.com') Sergey Poliakov
                        |  (Design, Programming, Idee) and Julia Kling (Text).