.section.moscow
    section.hero.is-fullheight
        .hero-head
            .container.is-hidden-mobile
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-body
            .hero-content
                .container
                    .columns.is-vcentered.is-desktop
                        .column.is-8
                            h2.title.is-2
                                | Moskau
                            h3.subtitle.is-4
                                | Langweiligste Stadt in Russland sagt der St. Petersburger
                            .content
                                p
                                    | Solltest du genug haben von der Schönheit des russischen Venedigs, fahre doch mit dem Zug nach Moskau. Kaufe dir eine"Platzkart" - schlafe neben den unterschiedlichsten Leuten und geniesse Schweißfüße und Stinkesocken.
                                    =" "
                                    span.is-hidden-touch
                                        | Hört man auf St. Petersburger, so ist Moskau keinen Besuch wert, wir denken aber anders. Moskau ist definitiv einen Besuch wert, besonders um auch ein etwas anderes Russland kennenzulernen.
                                    | .
                                p
                                    strong Hinweis:
                                    |  Kaufe Zugtickets vor deiner Reise , ist billiger.
                        .column
                            p.title Zugticket:
                            p#smoscow.title.is-1 1200 RUB
        .hero-foot.credits
            .container
                .content.is-hidden-touch
                    p
                        | © Made by
                        =" "
                        a(href='http://www.sergeypoliakov.com') Sergey Poliakov
                        |  (Design, Programming, Idee) und Julia Kling (Text). Wir geben unser Bestes die Preise aktuell zu halten, aber seid bitte nicht böse, sollten wir es mal nicht schaffen. Für den Umrechnungskurs ist verantwortlich:
                        =" "
                        a(href='http://fixer.io/') fixer.io
                        | . Gebt euch in Acht und tauscht bitte kein Geld auf der Straße um, Banken sind immer sicherer. Sollte irgendetwas nicht funktionieren auf dieser Webseite, kontaktiert uns bitte. Hosted on
                        =" "
                        a(href='https://github.com/polyakusha/saintp') GitHub
                        | .
                .content.is-hidden-desktop
                    p
                        | © Made by
                        =" "
                        a(href='http://www.sergeypoliakov.com') Sergey Poliakov
                        |  (Design, Programming, Idee) and Julia Kling (Text).