.section.credits
    section.hero.is-fullheight
        .hero-head
            .container.is-hidden-mobile
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-content
            .container
                .columns.is-desktop
                    .column.is-5.is-offset-1
                        .content
                            h3.subtitle.is-4
                                | Media:
                            p
                                | Interview f&#252;r&nbsp;#life78, May 2016,
                                =" "
                                a(href='https://vimeo.com/170803703') &bdquo;Die Stadt f&#252;r&nbsp;Touristen&ldquo;
                            p
                                | paperpaper.ru, May 2016,
                                =" "
                                a(href='http://paperpaper.ru/papernews/2016/05/29/cheap-st-pete/')
                                    | &bdquo;Programmierer aus Sankt Petersburg ver&#246;ffentlicht eine Webseite mit aktuellen Preisen f&#252;r&nbsp;Attraktionen in&nbsp;unterschiedlichen W&#228;hrungen&ldquo;
                            p
                                | The Village, May 2016,
                                =" "
                                a(href='http://www.the-village.ru/village/city/petersburg-morning/237769-30-may#wtf_249661') &bdquo;Cooles Projekt&ldquo;
                            p
                                | zagranitsa.com, May 2016,
                                =" "
                                a(href='http://saintpetersburg.zagranitsa.com/story/10110/peterburzhets-sozdal-internetgid-s-gorodskimi-tsenami-v-raznykh-valiutakh')
                                    | &bdquo;Petersburger designed einen <nobr>Internet-guide</nobr> mit Preisen in&nbsp;unterschiedlichen W&#228;hrungen&ldquo;
                    .column.is-5
                        .content
                            h3.subtitle.is-4
                                | Credits:
                            p
                                | Made by
                                =" "
                                a(href='http://www.sergeypoliakov.com') Sergey Poliakov
                                |  (Design, Programming, Idee) und Julia Kling (Text, &#220;bersetzung). Wir geben unser Bestes die Preise auf dem aktuellsten Stand zu&nbsp;halten, aber seid bitte nicht b&#246;se&nbsp;sollten wir es&nbsp;mal nicht schaffen. F&#252;r&nbsp;den Umrechnungskurs ist verantwortlich:
                                =" "
                                a(href='http://fixer.io/') fixer.io
                                | .
                            p
                                | Gebt euch in&nbsp;Acht und tauscht bitte kein Geld auf der Stra&#223;e&nbsp;um, Banken sind immer sicherer. Sollte irgendetwas nicht funktionieren auf dieser Webseite, kontaktiert uns bitte. Hosted on
                                =" "
                                a(href='https://github.com/polyakusha/saintp') GitHub
                                | .
