html {
    -webkit-font-smoothing: subpixel-antialiased;
}

.content  {
    text-align: justify;
}

.hero {
    background: linear-gradient(rgba(0, 57, 166, 0.45), rgba(213, 43, 30, 0.45));
}

body {
    text-shadow: 5px 5px 10px #000000;
}

.section {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/*todo: сделать самому фотографии всех нужных мест*/

.welcome {
    background-image: url('../img/main.jpg');
}

.hermitage {
    background-image: url('../img/hermitage.jpg');
}

.boattrip {
    background-image: url('../img/boattrip.jpg');
}

.isaak {
    background-image: url('../img/isaak.jpg');
}

.peterhof {
    background-image: url('../img/peterhof.jpg');
}

.taxi {
    background-image: url('../img/taxi.jpg');
}


.metro {
    background-image: url('../img/metro.jpg');
}

.swanlake {
    background-image: url('../img/swanlake.jpg');
}

.moscow {
    background-image: url('../img/moscow.jpg');
}

.title,
.subtitle,
.menu,
.hero-foot,
.hero-head {
    font-family: 'Aubrey', cursive;
    text-align: center;
    color: #fff6ba;
}

.credits {
    text-align: left;
    color: #fff;
    padding: 20px;
}

.moneynow {
    color: #4981a0;
    font-weight: 700;
}

@media screen and (max-width: 370px) {
    .title.is-1,
    .title.is-2{
        font-size: 25px;
    }

    .title:not(:last-child),
    .subtitle:not(:last-child),
    .content p:not(:last-child)
    {
        margin-bottom: 14px;
    }

    .title,
    .subtitle.is-4 {
        font-size: 15px;
    }

    .content {
        font-size: 11px;
    }

    .hero-foot {
        font-size: 10px;
    }
}

@media screen and (orientation: landscape) and (max-width: 800px) {
    .title.is-1,
    .title.is-2{
        font-size: 25px;
    }

    .title:not(:last-child),
    .subtitle:not(:last-child),
    .content p:not(:last-child)
    {
        margin-bottom: 14px;
    }

    .title,
    .subtitle.is-4 {
        font-size: 15px;
    }

    .content {
        font-size: 11px;
    }

    .hero-foot {
        font-size: 10px;
    }
}


