head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(target='_blank')
    link(rel='stylesheet', href='styles/main.css')
    link(rel='icon', type='image/png', href='img/spb.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    title Willkommen in Sankt Petersburg - weil es gerade billig ist
    script.
        var saint = {
            welcome: 0,
            metro: 35,
            hermitage: 600,
            taxi: 250,
            boattrip: 700,
            pyshka: 13,
            isaak: 150,
            swanlake: 1000,
            peterhof: 700,
            moscow: 1200,
            credits: 0
        };
    script(type='text/javascript', src='js/main.js')
    style(type='text/css').
        .hero-head {
            margin-top: 0em
        }