html {
    -webkit-font-smoothing: subpixel-antialiased;
}

.content  {
    text-align: justify;
}

.hero {
    background: linear-gradient(rgba(0, 57, 166, 0.45), rgba(213, 43, 30, 0.45));
}

.section {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/*todo: сделать самому фотографии всех нужных мест*/

.welcome {
    background-image: url('../img/main.jpg');
}

.transport {
    background-image: url('../img/transport.jpg');
}

.thingstodo {
    background-image: url('../img/thingstodo.jpg');
}

.zenith {
     background-image: url('../img/zenith.jpg');
 }

.mdt {
    background-image: url('../img/mdt.jpg');
}

.roofs {
    background-image: url('../img/roofs.jpg');
}

.marshrutka {
    background-image: url('../img/marshrutka.jpg');
}

.hermitage {
    background-image: url('../img/hermitage.jpg');
}

.sightseeing {
    background-image: url('../img/sightseeing.jpg');
}

.peterpaul {
    background-image: url('../img/peterpaul.jpg');
}

.spblood {
    background-image: url('../img/spblood.jpg');
}

.boattrip {
    background-image: url('../img/boattrip.jpg');
}

.pyshka {
    background-image: url('../img/donut.jpg');
}

.isaak {
    background-image: url('../img/isaak.jpg');
}

.peterhof {
    background-image: url('../img/peterhof.jpg');
}

.taxi {
    background-image: url('../img/taxi.jpg');
}


.metro {
    background-image: url('../img/metro.jpg');
}

.swanlake {
    background-image: url('../img/swanlake.jpg');
}

.moscow {
    background-image: url('../img/moscow.jpg');
}

.credits {
    background-image: url('../img/credits.jpg');
}

.title,
.subtitle,
.menu,
.hero-foot,
.hero-head {
    font-family: 'Aubrey', cursive;
    text-align: center;
    color: #fff6ba;
}

.moneynow,
.langnow {
    color: #4981a0;
    font-weight: 700;
}

.fa {
    text-decoration: none
}

.mainMenu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

nav.nav {
    font-family: 'Aubrey', cursive;
    color: #2305ff;
    background: rgba(117, 197, 247, 0.99);
    text-shadow: none;
    z-index: 99;
}

.hero-head {
    margin-top: 4em
}

.content a:not(.button) {
    border: none;
}
