html {
    -webkit-font-smoothing: subpixel-antialiased;
}

.content  {
    text-align: justify;
}

.hero {
    background: linear-gradient(rgba(0, 57, 166, 0.45), rgba(213, 43, 30, 0.45));
}

.section {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/*todo: сделать самому фотографии всех нужных мест*/

.welcome {
    background-image: url('../img/main.jpg');
}

.hermitage {
    background-image: url('../img/hermitage.jpg');
}

.boattrip {
    background-image: url('../img/boattrip.jpg');
}

.pyshka {
    background-image: url('../img/donut.jpg');
}

.isaak {
    background-image: url('../img/isaak.jpg');
}

.peterhof {
    background-image: url('../img/peterhof.jpg');
}

.taxi {
    background-image: url('../img/taxi.jpg');
}


.metro {
    background-image: url('../img/metro.jpg');
}

.swanlake {
    background-image: url('../img/swanlake.jpg');
}

.moscow {
    background-image: url('../img/moscow.jpg');
}

.credits {
    background-image: url('../img/credits.jpg');
}

.title,
.subtitle,
.menu,
.hero-foot,
.hero-head {
    font-family: 'Aubrey', cursive;
    text-align: center;
    color: #fff6ba;
}

.moneynow,
.langnow {
    color: #4981a0;
    font-weight: 700;
}

