doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='styles/main.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        title Welcome to Saint-Petersburg - 'cause it's cheap now - Credits
    body
        include includes/english/menu
        .section.credits
            section.hero.is-fullheight
                .hero-body
                    .container
                        .columns
                            .column.is-5.is-offset-1
                                .content
                                    h3.subtitle.is-4
                                        | Media about us:
                                    p
                                        | Interview for #life78, May 2016,
                                        =" "
                                        a(href='https://vimeo.com/170803703') &ldquo;City for tourists&rdquo;
                                    p
                                        | paperpaper.ru, May 2016,
                                        =" "
                                        a(href='http://paperpaper.ru/papernews/2016/05/29/cheap-st-pete/')
                                            | &ldquo;Programmer from <nobr>Saint-Petersburg</nobr> created a&nbsp;<nobr>web-site</nobr> with prices for city attractions in&nbsp;different currencies&rdquo;
                                    p
                                        | The Village, May 2016,
                                        =" "
                                        a(href='http://www.the-village.ru/village/city/petersburg-morning/237769-30-may#wtf_249661') &ldquo;Cool project&rdquo;
                                    p
                                        | zagranitsa.com, May 2016,
                                        =" "
                                        a(href='http://saintpetersburg.zagranitsa.com/story/10110/peterburzhets-sozdal-internetgid-s-gorodskimi-tsenami-v-raznykh-valiutakh')
                                            | &ldquo;Petersburgian created an&nbsp;<nobr>Internet-guide</nobr> with city prices in&nbsp;different currencies&rdquo;
                            .column.is-5
                                .content
                                    h3.subtitle.is-4
                                        | Credits:
                                    p
                                        | Made by
                                        =" "
                                        a(href='http://www.sergeypoliakov.com') Sergey Poliakov
                                        |  (design, programming, idea) and Julia Kling (text, translate). We&nbsp;do&nbsp;our best to&nbsp;keep the prices here up&nbsp;to&nbsp;date, but don&rsquo;t blame us&nbsp;if&nbsp;they change suddenly. For currency rates is&nbsp;responsible
                                        =" "
                                        a(href='http://fixer.io/') fixer.io
                                        | .
                                    p
                                        | Be&nbsp;aware to&nbsp;not change money on&nbsp;the street, go&nbsp;to&nbsp;a&nbsp;bank, it&rsquo;s safer. If&nbsp;something doesn&rsquo;t work on&nbsp;this website, don&rsquo;t hesitate to&nbsp;contact us. Hosted on
                                        =" "
                                        a(href='https://github.com/polyakusha/saintp') GitHub
                                        | .

