doctype
html(lang='de')
include includes/german/head
body
    #fullpage
        include includes/german/firstsection
        include includes/german/card-layout
        include includes/german/lastsection

