doctype
html(lang='en')
include includes/english/head
body
    #fullpage
        include includes/english/firstsection
        include includes/english/card-layout
        include includes/english/lastsection

