doctype
html(lang='en')
include includes/english/sightseeing-head
body
    include includes/english/menu
    #fullpage
        .section.sightseeing
            include includes/english/sightseeing-first
        include includes/english/sightseeing-cards
        include includes/english/sightseeing-last

