doctype
html(lang='en')
include includes/english/thingstodo-head
body
    include includes/english/menu
    #fullpage
        .section.thingstodo
            include includes/english/thingstodo-first
        include includes/english/thingstodo-cards
        include includes/english/thigstodo-last

